<%- include("partials/header.ejs"); -%>

<section class="team-area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="section-title">
                    <h2>About Us</h2>
                    <h5>SMART DATING ZIM</h5>
                </div>
            </div>
        </div>

        
        <div style="padding: bottom 30px;">
         <p> <h5>
            At Date Smart, we guarantee to provide customised, quality, relationship match making, advisory services and relationships building. We are the leading match making Service Provider in Zimbabwe offering cradle to grave relationship management

           </h5>
        </div></p><br> 

        <p> <div style="padding: bottom 30px;">
            <h5>
                At Date Smart, our matchmaking services are designed to take the stress out of dating. We do the work for you, from curating introductions to arranging the perfect dates. With a focus on quality and compatibility, we help you connect with like-minded singles who share your values and relationship goals. With Date Smart, you will enjoy the journey to finding happiness and fulfilment. 

            </h5>
         </div></p> <br>


        </div>
    </div>



    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="section-title">
                    <h5>Team members</h5>
                    <h2>Our Leadership</h2>
                </div>
            </div>
        </div>
        
        <div>
            <!-- <h5>
             Meet our Date Smart Zim leadership team.
            </h5> -->
 
         </div>


        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="single-team-box">
                    <div class="team-image">
                        <img class="img-rounded"  src="/img_avatar1.png" alt="team" />
                    </div>
                    <div class="team-info">
                        <h3>E Chihumbiri</h3>
                        <span>CEO</span>
                        <div class="team-social-icon">
                            <a href="#"><i class="fa fa-facebook-f"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-team-box">
                    <div class="team-image">
                        <img src="/img_avatar1.png" alt="team" />
                    </div>
                    <div class="team-info">
                        <h3>R C Mapfunde: </h3>
                        <span>MANAGING DIRECTOR </span>
                        <div class="team-social-icon">
                            <a href="#"><i class="fa fa-facebook-f"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-team-box">
                    <div class="team-image">
                        <img src="/img_avatar1.png" alt="team" />
                    </div>
                    <div class="team-info">
                        <h3>Max Infinity: </h3>
                        <span>JUST A MEMBER </span>
                        <div class="team-social-icon">
                            <a href="#"><i class="fa fa-facebook-f"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                </div>
            </div>



        </div>
    </div>

 

    





<%- include("partials/footer.ejs"); -%>